extend ../layout
block main
  ul.stories
    each story in stories
      li.story(id="story-#{story._id}", data-truthy-shares=JSON.stringify(story.truthyShares))
        h3= story.slug
        ul.truthiness-vs-service
          each n, key in story.truthyShares
            li #{key}: #{n} shares
